.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px; 
  flex-wrap: wrap; 
}

.container1 {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.logo1 {
  width: 80px;
  height: auto;
}

.explore button {
  border: none;
  background-color: white;
  padding: 8px 16px;
  border-radius: 19px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.explore button:hover{

    background-color: #e0e0d9;
    
}

.container2 {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.container2 ul {
  display: flex;
  gap: 20px; 
  list-style: none;
}

.container2 ul li {
  cursor: pointer;
  color: #215d82;
  font-size: 16px;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 10px;
}

.login button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
}

.signup button {
  background-color: #e0e0d9;
  border: none;
  border-radius: 12px;
  padding: 8px 14px;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .container2 ul {
    flex-wrap: wrap;
    gap: 10px;
  }
}
